@import url(https://fonts.googleapis.com/css?family=Roboto:500);
body{
    background-color: #2B2A2D;
}
.form {
  background: #D9D9D9;
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  height: 64.5vh;
  align-items: center;
  position: relative;
  top: 50px;
  border-radius: 20px;
}
.form input {
  font-family: "Roboto", sans-serif;
  background: #D9D9D9;
  width: 100%;
  border: 0;
  border-bottom: 4px solid #000000;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
}

.form input::-webkit-input-placeholder {
    color: #5f5f5f;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #0B0909;
  width: 50%;
  border: 0;
  border-radius: 30px;
  padding: 15px;
  color: #D9D9D9;
  font-size: 25px;
  cursor: pointer;
}

#registerbtn{
    background-color: #FCED63;
    color: #000000;
    text-align: right;
    width: 170px;
}

#loginbtn{
    position: relative;
    left: 35px;
}

.formContent{
    position: relative;
    top:80px;
}

#btn{
    display: flex;
    justify-content: center;
    width: 100%;
}